<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.midi" android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_rowan"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pagan"
        tools:targetApi="35" >

        <activity android:name=".Activity.ActivityLanding"
            android:screenOrientation="locked"
            android:exported="true"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@style/Theme.Pagan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Activity.ActivityEditor"
            android:screenOrientation="locked"
            android:exported="true"
            android:appCategory="audio"
            android:label="@string/app_name_brief"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@style/Theme.Pagan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/midi" />
                <data android:mimeType="application/json" />
            </intent-filter>
        </activity>


        <activity android:name=".Activity.ActivitySettings"
            android:screenOrientation="locked"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@style/Theme.Pagan"/>

        <activity android:name=".Activity.ActivityAbout"
            android:screenOrientation="locked"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@style/Theme.Pagan"/>

    </application>
</manifest>
